.index_main {
    height: 100%;
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-family: 新宋体;
    font-size: 25px;
    color: blueviolet;
    justify-content: center;
    align-items: center;

}