<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录页[[${port}]]</title>
    <link rel="stylesheet" href="../bt4/css/bootstrap.css">
    <link rel="stylesheet" href="../css/login.css">
    <script>
        /*function codefans(){  //给错误账号密码显示错误信息。提示三秒后隐藏
            var box=document.getElementById("divbox");
            box.style.display="none";
        }
        setTimeout("codefans()",3000);//3秒   定时器
*/
        function secretPwd() { //提交表单之前对密码进行md5加密
            debugger;
            var name = document.getElementsByName("name")[0].value;
            var password = document.getElementsByName("password")[0].value;
            if (name == null || password == null) {
                alert("用户名或密码不能为空");
                return false;
            }
            var md5Pwd = md5(password);//使用md5对密码进行加密

            document.getElementsByName("password")[0].value = md5Pwd;
            return true;
        }
    </script>
</head>
<body>
<div class="login-title">
    <div class="login_div">
        <h5 class="font-weight-bold">长寿旅游管理后台</h5>
    </div>
    <form th:action="@{/loginData}" method="post" class="login-from" onsubmit="return secretPwd();">
        <div class="row justify-content-center">
            <div class="col-4 border border-secondary" style="height: 270px;">
                <div class="ml-4 mt-4 mr-4 border border-1 p-1 pl-2 d-none" id="show_tips"></div>
                <div class="form-group pl-4 pr-4 pt-4" id="name_div">
                    <label for="name" class="text-secondary">用户名称:</label>
                    <input type="text" name="name" class="form-control bg-light" id="name"/>
                </div>

                <div class="form-group pl-4 pr-4">
                    <label for="password" class="text-secondary">登录密码:</label>
                    <input type="password" name="password" class="form-control bg-light" id="password">
                </div>
                <div class="form-group text-right mr-4">
                    <input type="hidden" name="statu" value="0">
                    <input type="submit" class="btn btn-sm border border-secondary" value="登 录" id="login_btn">
                    <div th:if="${erro!=null}" th:text="${erro}" class="login-erro" id="divbox"
                         style="color: red;font-size: 15px; text-align: center"></div>
                </div>
            </div>
        </div>
    </form>
</div>

</body>
<script type="text/javascript" src="../bt4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bt4/js/popper.min.js"></script>
<script type="text/javascript" src="../bt4/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../MD5/md5a.js"></script><!--导入MD5加密依赖文件-->
</html>
