<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>修改</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/scennic.css">
    <link rel="stylesheet" href="../bt4/css/bootstrap.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <script>

        function fanhui() {
            window.history.back();//返回
        }

        function shanchu(t) {
            var tr = t.parentNode.parentNode;
            tr.remove();
            //点击删除时如果没有未上传的视频，则更新显示的视频个数和大小。否则不做改变仍显示未上传的数据
            var ele = document.getElementById("yida-tbody");
            var trs = ele.getElementsByTagName("tr");
            if (trs.length > 0) {
                var co = 0;
                for (var a = 0; a < trs.length; a++) {
                    var len = trs[a].childNodes[2].childNodes.length;
                    if (len > 1) {
                        co++;
                    }
                }
                if (co == 0) {        //没有未上传视频时更新显示大小
                    var tsize = tr.childNodes[3].innerText;
                    var sz = tsize.substring(0, tsize.length - 2);
                    var td2 = document.getElementById("yida-tf-td2").innerText;
                    var td1 = document.getElementById("yida-tf-td").innerText;
                    var split = td2.split(":");
                    var s = split[1].substring(0, split[1].length - 2)
                    s = Number(s) - Number(sz);
                    var arr1 = td1.split("个");
                    var k = Number(arr1[0]);
                    k--;
                    var s2 = s.toFixed(2);
                    document.getElementById("yida-tf-td").innerText = k + "个视频";
                    document.getElementById("yida-tf-td2").innerText = "总计:" + s2 + "MB";
                }

            } else {
                document.getElementById("yida-tf-td").innerText = "0个视频";
                document.getElementById("yida-tf-td2").innerText = "总计:0.00MB";
            }

            //点击删除的同时更新保存数据库的视频信息。实现同步
            var spot = document.getElementById("spotImages").value;
            var strings = spot.split(":");
            if (strings.length > 2) {
                var arr1 = spot.split(",");
                for (var a = 0; a < arr1.length; a++) {
                    var arr2 = arr1[a].split(":");
                    var s1 = arr2[0].substring(1, arr2[0].length - 1);
                    var strings1 = s1.split("&");
                    s1 = strings1[1];  //视频名称
                    var s2 = arr2[1].substring(1, arr2[1].length - 1);//视频大小
                    var tname = tr.childNodes[1].innerText;
                    var tsize = tr.childNodes[3].innerText;
                    if (s1 == tname && s2 == tsize) {
                        var ss = arr1[a];
                        var number = spot.indexOf(ss);
                        if (number > 2) {
                            var s3 = spot.substring(0, number - 1);
                            document.getElementById("spotImages").value = s3;
                        } else {
                            var s4 = spot.substring(arr1[a].length + 1, spot.length);
                            document.getElementById("spotImages").value = s4;
                        }
                    }
                }

            }
        }

    </script>

</head>
<body>
<!--调用头部公共代码-->
<div th:replace="~{base::header}"></div>

<section style="display: flex;background-color:#eeeeee;" class="bg-light">
    <!--调用公共的代码片段-->
    <div th:replace="~{base::section_leaf('video')}" class="bg-light"></div>

    <div class="base_rahit bg-light" style="margin-left: 15px;background-color:#eeeeee;">
        <div style="height: 45px; background-color:#eeeeee;display: flex; justify-content: space-between" class="mt-3">
            <div class=" mt-2">
                <span class="text-muted font-weight-bold mt-5 ml-3 "
                      style="font-size: 20px;margin-top: 5px;">编辑发布视频</span>
            </div>
        </div>
        <form th:action="@{/main/updatevideo(page=${page})}" method="post" enctype="multipart/form-data">
            <!-- enctype="multipart/form-data"-->
            <div class="w-100">

                <input type="hidden" name="ModifyTime"
                       th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd hh:mm:ss')}">
                <input type="hidden" name="spotImages" id="spotImages" th:value="${spot}">
                <input type="hidden" name="uid" id="uid" th:value="${vo.id}">
                <div type="hidden" id="show_span"></div>

                <div style="background-color:#eeeeee;display: flex;align-items: center" class="mt-3 mb-3">
                    <span style="text-align: right;margin-left: 34px;width: 80px"><b
                            style="color: red;font-size: 16px;">*</b>标题：</span>
                    <input type="text" name="title" placeholder="请输入不超过15个字的标题" class="mt-3 mb-3 ml-1"
                           th:value="${vo.title}">
                </div>
                <div class="mt-3 mb-3">
                    <span style="text-align: right;margin-left: 60px;width: 80px"><b
                            style="color: red;font-size: 16px;">*</b> 分类：</span>
                    <select name="scenic.id" class="mr-3"
                            style="border: 1px solid black; background-color: white;height: 25px;">
                        <option th:text="${cname}" th:value="${cid}" selected="selected"></option>
                        <option th:each="scenic:${scenics}" th:value="${scenic.id}" th:text="${scenic.name}"></option>
                    </select>
                </div>
                <div style="background-color:#eeeeee;height: 120px;padding-top: 20px;" id="yida-icon">
                    <span style="width: 80px; text-align: right;margin-left: 22px;" class="mt-3"><b
                            style="color: red;font-size: 16px;">*</b>上传缩虐图：</span>
                    <a id="uploadfile_a2"><input type="file" id="myfile2" name="yida2">
                        <spna id="icon"></spna>
                        <img th:src="${vo.thumbnail}" style="width: 60px;height: 60px;" class="yida-my-img"
                             id="yida-my-img"></a>
                    <br>
                    <spna class="mt-1 text-muted mt-3 mb-3" style="font-size: 13px;margin-left: 130px;">
                        提示:单张图片大小不得超过1M
                    </spna>

                </div>
                <div class="mt-3" style="display: flex;align-items: center">
                    <div>
                        <span style="width: 80px; text-align: right;margin-left: 37px;"><b
                                style="color: red;font-size: 16px;">*</b>上传视频：</span>
                    </div>
                    <table class="table table-striped rounded-0 h-100 m-3 p-0 w-50 " id="yida-table">
                        <thead style="background-color:#dedede; color:#666666; ">
                        <tr>
                            <th>视频名称</th>
                            <th class="text-center ">视频大小</th>
                            <th class="text-center ">移除文件</th>
                        </tr>
                        </thead>
                        <tbody id="yida-tbody">
                        <tr th:each="map,state:${map}">
                            <td th:text="${map.key}"></td>
                            <td th:text="${map.value}" class="text-center"></td>
                            <td class="text-center"><a href="javascript:void(0)"
                                                       style="color:black;text-decoration: none"
                                                       class="iconfont icon-icon1 yida-icon-a"
                                                       onclick="shanchu(this)"></a></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr style="background-color:#dedede">
                            <td colspan="1" id="yida-tf-td" th:text="${N}+'个视频'"></td>
                            <td colspan="2" class="text-center" id="yida-tf-td2" th:text="'总计:'+${sk}+'MB'"></td>
                        </tr>
                        <tr style="border:hidden;">
                            <td colspan="4" class="border-0 text-muted">提示：视频大小不能超过100M！！</td>
                        </tr>
                        </tfoot>
                    </table>
                    <form id="myform" enctype="multipart/form-data">
                        <div>
                            <a id="uploadfile_a" class="text-white"><input type="file" id="myfile" name="yida"
                                                                           multiple="multiple">添加视频</a><br>
                            <input type="button" class="btn btn-success rounded-0 mt-2"
                                   style=" width: 80px;height: 30px;padding:0px;" value="开始上传" id="uploadfile"/>
                        </div>
                    </form>
                </div>

                <div class="mt-3 mb-5">
                    <input type="submit" value="发布" class="btn btn-success text-white" style="margin-left: 142px">
                    <input type="button" value="返回" class=" btn btn-success text-white" onclick="fanhui();"></a>
                </div>
            </div>
        </form>
    </div>
    <span type="hidden" id="show_info_tips_span"></span>
</section>
</body>
<script type="text/javascript" src="../bt4/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../bt4/js/popper.min.js"></script>
<script type="text/javascript" src="../bt4/js/jquery-3.3.1.min.js"></script>


<script type="text/javascript" src="../js/scennic-3.js"></script><!--缩虐图-->
<script type="text/javascript" src="../js/video2.js"></script>

</html>